body {
    font-family:Arial, Helvetica, sans-serif;
    background:aquamarine;
    font-family: sans-serif;

}

.title_div{
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    padding: 10px;
    margin-left: 560px;
    border: 10px solid blue;
}

#recipes_div {
   
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    margin-left: 250px;
    
}

h1 {
text-align: center;
border: 10px inset cyan;
}

ul {
    width: 500px;
    border: 20px dashed green;
    margin-left: 20px ;
   
}

li {
  
    padding: 10px;
    font-size: 24px;
    color: plum;
    background-color: aqua;
    font-style: italic;
}

.recipes_list{
    width: 200px;
    height: 200px;
    margin-left: 550px;
    background-color: yellow;
    padding: 10px;
    border-bottom: 100px;
    
}

.list_span{
    
}

.joke_span{
    margin-left: 80px;
}