body {
    background-color: #eee;
}

h1{
    color: chocolate;
    background-color: blue;
}

#uList .subsection {
    color: red;
}

#subsection.list {
    color: blue;
}

.uList {
    color: green;
}

#firstborn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

#listbox {
    background-color: antiquewhite;
    
}

.stepbox {
    background-color:aquamarine
}